POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=valorant_db

DATABASE_URL=postgresql+asyncpg://postgres:your_secure_password@db:5432/valorant_db

# Official KEY Riot Games (https://developer.riotgames.com/)
RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Ключ HenrikDev API для отримання розширеної статистики матчів
HENRIK_API_KEY=your_henrik_dev_key_here

# Key Groq Console For Llama 3 AI Coach (https://console.groq.com/)
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Внутрішня Docker-адреса бекенду для контейнера фронтенду
BACKEND_URL=http://web:8000