# Секретні дані (найважливіше!)
.env

# Віртуальне середовище (це величезна папка, її не треба завантажувати)
venv/

# Тимчасові файли Python (їх генерує система)
__pycache__/
*.pyc
*.pyo

# Файли бази даних (якщо ти використовуєш SQLite, наприклад)
*.db
*.sqlite3

# Системні файли (для macOS)
.DS_Store